<h3 class="container">To-Do App</h3>

<div class="container-fluid">
     <ol>
        <li>   This is the to-do App  </li>
        <li>   you just have to add your to do work here and accordingly update this Todos </li>
        <li>   the todo's whichh appear on the  you  have to complte it</li>
        <li>   when you have completed the todo just have to click on Done which make strike line which means you have completed this todo</li>
        <li>  You can also Delete the todo.</li>
        <li>  when you Done it just click on the Done and you thnk that it will not usefull for further then you can delete such todo's permentally.</li>
        <li>  Once Deleted todo can not be Recovered.</li>
    </ol>


</div>